## Analise Exploratório EDA

Contexto: Uma empresa de e-commerce deseja entender melhor os dados de vendas dos últimos dois anos para otimizar suas campanhas de marketing, aumentar o lucro e identificar padrões de comportamento dos clientes.

Objetivo: Explorar o conjunto de dados de vendas para descobrir insights sobre o comportamento dos clientes, padrões de venda ao longo do tempo, e identificar fatores que influenciam o volume de vendas.

In [1]:
# Importando as bibliotecas
import pandas as pd
import numpy as np

#### Carregamento dos dados

In [14]:
# Importando a base de dados - Base criado com o GPT
df_vendas = pd.read_csv('tabela_vendas.csv', encoding='utf-8')
df_vendas.head(5)

,ProductID,CustomerID,ShipDate,Quantity,UnitPrice,TotalPrice,State,Region,Category,Product
0,4,13,2024-04-03,12,1621.89,19462.68,MS,Centro-Oeste,Eletroeletrônicos,Cafeteira Elétrica
1,15,13,2023-11-03,3,4084.61,12253.83,DF,Centro-Oeste,Casa e Jardim,Aspirador de Pó
2,28,27,2023-12-03,5,2541.08,12705.40,MS,Centro-Oeste,Informática,Teclado Mecânico
3,14,4,2024-07-19,20,368.17,7363.40,MS,Centro-Oeste,Eletroeletrônicos,TV 4K 55'
4,25,17,2024-07-20,12,527.37,6328.44,MG,Sudeste,Videogame,Controle DualSense

In [15]:
# Tamanha do dataset
df_vendas.shape

(500, 10)

#### Limpeza e preparação dos dados

In [21]:
# Valores Duplicados
df_vendas.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Length: 500, dtype: bool

In [17]:
# Valores Faltantes

In [18]:
# Outliers